body{
    font-family: 'Montserrat', sans-serif;
}

nav li{
    color: aqua;
    display: inline-block;
    margin: 10px auto;
    width: 16%;
}

nav a{
    color: aqua;
    text-decoration: none;
}



nav{
    padding: 15px;
    width: 940px;
    margin: auto;
}


header{
    display: block;
    margin: 0 auto;
    width: 100%;
    background: #020111;
    margin: 0;
    text-align: center;
    
}

.caja{
    width: 940px;
    padding: 0 20px 20px 20px;
    display: block;
    margin: 0 auto;
    
    
}

#banner{
    width: 940px;
    
    
}

.principal{
    background: lightgray;
    margin: 0 0 10px 0;
}

.slogan-principal{
    width: 1000px;
    margin: 0 auto;
    padding: 2em 0;
    
}

.imagen-principal{
    display: inline-block;
    width: calc(70% - 25px);
    margin: 0 auto;
    padding: 0 10px ;
}

.texto-principal{
    display: inline-block;
    width: calc(30% - 25px);
    vertical-align: top;
    margin: 0 auto;
    padding: 0 10px;
    font-weight: bold;
    font-size: 2em;
}

span{
    color: aqua;
}

footer{
    background: #333333;
    text-align: center;
    padding: 10px;
    margin: 10px 0 0 0;
}

.logo-pie{
    height: 200px;
    padding: 20px;
}

.blog-noticias{
    width: 940px;
    margin: 0 auto;
}

.img-blog{
    width: 300px;
    padding: 10px;
}

.texto-blog{
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    margin: 0 auto;
    width: 600px;
    color: black;    
}

.texto-blog h1{
    font-size: 3em;
    font-weight: bold;
}

.texto-blog p{
    font-size: 2em;
}

.texto-blog a{
    padding: 10px;
    
}

.blog:hover{
    background: rgb(167, 255, 255);
    transform: scale(1.01);
    transition: 1s;
}

.img-noticias{
    width: 300px;
    padding: 10px;
    display: inline-block;
    margin: 0 0 0 auto;
}

.texto-noticias{
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    margin: 0 auto;
    width: 600px;
    color: black;
    
}

.texto-noticias h1{
    font-size: 3em;
    font-weight: bold;
}

.texto-noticias p{
    font-size: 2em;
}

.noticias:hover{
    background: rgb(167, 255, 255);
    transform: scale(1.01);
    transition: 1s;
}
.copyright{
    color:#FFFFFF;
    font-size: 13px;
    margin:20px;
}



form{
    width: 940px;
    margin: 40px auto;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin:20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: orange;
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.1);
}
